<mat-card>
  <mat-card-title>Adicionar usuário</mat-card-title>
  <form>
    <mat-form-field>
      <label>Nome *</label>
      <input type="text" [(ngModel)]="pessoa.nome" name="nome">
    </mat-form-field>
    <mat-form-field>
      <label>CPF *</label>
      <input type="text" [(ngModel)]="pessoa.cpf" name="cpf">
    </mat-form-field>
  </form>
  <button mat-raised-button routerLink="/listar-pessoa">Cancelar</button>
  <button mat-raised-button color="primary" type="submit" (click)="criarPessoa()">Adicionar</button>
</mat-card>
