<div>
  <mat-card-title>Usuários</mat-card-title>
  <div class="adicionar-usuario">
    <a mat-raised-button color="primary" routerLink="/cria-pessoa">Adicionar usuário</a>
  </div>

  <div *ngIf="existePessoa" class="mat-elevation-z8">
    <mat-card-subtitle>Lista de usuários</mat-card-subtitle>
    <mat-form-field class="busca">
      <label>Buscar</label>
      <input matInput (keyup.enter)="buscarPessoas()" [(ngModel)]="termoBusca">
    </mat-form-field>
    <mat-table #table [dataSource]="pessoas" matSort (matSortChange)="sortData($event)" class="tabela">
      <ng-container matColumnDef="nome">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
        <mat-cell *matCellDef="let pessoa"> {{ pessoa.nome }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="cpf">
        <mat-header-cell *matHeaderCellDef mat-sort-header> CPF </mat-header-cell>
        <mat-cell *matCellDef="let pessoa"> {{ pessoa.cpf }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="acoes">
        <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
        <mat-cell *matCellDef="let pessoa">
          <a routerLink="/editar-pessoa/{{pessoa.id}}">
            <mat-icon>edit</mat-icon>
          </a>
          <a (click)="excluirPessoa(pessoa.id)">
            <mat-icon>delete</mat-icon>
          </a>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageIndex]="currentPage" (page)="pageChanged($event)"></mat-paginator>
  </div>

  <div *ngIf="!existePessoa">
    <p>Nenhum resultado encontrado</p>
  </div>
</div>
