form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

button {
  margin: 20px 15px 0px 0px;
}

.butoes {
  justify-content: flex-end;
  display: flex;
}

:host {
  width: 100%;
}

.espaco {
  height: 530px;
}
