<mat-card>
  <mat-card-title>Editar usuário</mat-card-title>
  <form>
    <mat-form-field>
      <label>Nome *</label>
      <input matInput type="text" [(ngModel)]="pessoa.nome" name="nome">
    </mat-form-field>
    <mat-form-field>
      <label>CPF *</label>
      <input matInput type="text" [(ngModel)]="pessoa.cpf" name="cpf">
    </mat-form-field>
  </form>
  <div class="espaco"></div>
  <div class="butoes">
    <button mat-raised-button routerLink="/listar-pessoa">Cancelar</button>
    <button mat-raised-button color="primary" type="submit" (click)="atualizarPessoa()">Atualizar</button>
  </div>
</mat-card>
